/* Add your custom CSS here */
body { font-family: 'Neucha', serif;}

.hero-block h1 {
    font-size: calc(60px + (132 - 60) * ((100vw - 320px)/ (1600 - 320)));
    margin-bottom: 40px;
    letter-spacing: 2px;
 }
 
 .hero-block h2 {
    font-size: calc(32px + (64 - 32) * ((100vw - 320px)/ (1600 - 320)));
    letter-spacing: 1px;
 }